.nav-bar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.logo-icon {
  margin-right: 12px;
  width: 30px;
  height: 29px;
}
.parent-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.MuiTypography-body1 {
  font-family: Inter;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 11px !important;
  line-height: 24px !important;
  /* identical to box height, or 218% */

  letter-spacing: 0.25px !important;
  text-transform: uppercase !important;
}

.nav-bar-right {
  display: flex;
  align-items: flex-end;
}
.vector span {
  margin: 0 32px;
}
.vector-s span {
  margin: 0 12px;
  img {
    height: 24px;
    width: 24px;
  }
  span img {
    height: 24px;
    width: 24px;
  }
}

.MuiToolbar-gutters {
  padding: 0 !important;
}
