.hero-nav ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 4px;
  font-size: 12px;
  color: #959da5;
  opacity: 0.9;
  color: #959da5;
}
.active-clr {
  color: #24292e !important;
  opacity: 0.9;
}
.heading {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.item-list {
  display: flex;
  padding: 0 !important;
}
.col-2 {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 10px 20px;
  background: #5d6bce;
  border: 1px solid #5d6bce;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0 !important;
  cursor: pointer;
}
.MuiTab-wrapper {
  font-size: 14px;
}

.icon-arrow {
  height: 10px;
}
