.parent-sec {
  display: grid;
  width: 100%;
  grid-template-columns: 88px 1fr;
}
.side-bar {
  box-shadow: inset -2px 0px 0px #e1e4e8;
  text-transform: capitalize;
}
.active-line {
  border-right: 2px solid #5d6bce;
}
.dsr {
  height: 74px;
  width: 88px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon {
    height: 24px;
    width: 24px;
  }
}
.icn-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #586069;
  font-weight: 500;
  word-wrap: break-word;
}
.hero-bar {
  padding: 20px;
}

.active-text {
  color: #5d6bce;
}
