.header-list {
  padding: 8px 0 12px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d5da;
  border-radius: 0px;
  margin: 0px 0px;
}

.header-title-li {
  display: flex;
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6a737d;
  padding-left: 0;
  .active-li {
    color: #5d6bce !important;
  }
}

li {
  padding: 8px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin: 24px;
}
.sort-by {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #6a737d;
  margin-right: 8px;
}
.makeStyles-root-8 {
  background: #ffffff;
  /* Border/light */

  border: 1px solid #e1e4e8;
  box-sizing: border-box;
  border-radius: 8px !important;
}
.sort-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.filtr-btn button {
  background: #ffffff;
  /* Gray/200 */
  border: 1px solid #d1d5da;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0px 16px;
  color: #6a737d;
  text-align: center;
  text-transform: capitalize;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 90px;
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    background: #6a737d;
  }
}
.item-list {
  margin: 0;
}
.select-sort {
  background: #ffffff;
  /* Border/dark */
  width: 128px;
  height: 32px;
  border: 1px solid #d1d5da;
  box-sizing: border-box;
  border-radius: 4px;
}

.short-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list_description p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #959da5;
  margin-left: 20px;
  font-weight: 600;
}
.MuiTableCell-root {
  padding: 24px !important;
}

.page-nation {
  height: 40px;
  margin: 20px 0;
}
